<!--Styling-->
<style>
    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: separate;
    }
</style>

<table>
    <!--Displaying all the options-->
    <h1>Employees</h1>
    <p></p>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Role</th>
    <th>Salary</th>
    <th>Update</th>

    </tr>
    <!--This is the code that is being used to display the employees -->
    <% employeeList.forEach((employeeList)=>
        { %>
        <tr>
            <td>
                <%= employeeList.eid %>
            </td>
            <td>
                <%= employeeList.ename %>
            </td>
            <td>
                <%= employeeList.role %>
            </td>
            <td>
                <%= employeeList.salary %>
            </td>
            <td>
                <!--This is the code that is being used to update the employees-->
                <a href="/employees/edit/<%= employeeList.eid %>">
                    <p type="submit">Update</p>
                </a>
            </td>
        </tr>
        <% }) %>
</table>

<br>
<!--Home Button-->
<button onclick="window.location.href='http://localhost:3004/';">
    Home
</button>